%header.menu
	%ul
		%li Pengo
		%li.right 
			%a{:href=>"/profile"}프로필
		%li.right 내역
		%li.right
			%a{:href=>"/dashboard"} 개요
.dashboard
	.dashboard-wrapper
		.notice
			%h1 지출 내역이 오래됐습니다. 업데이트 하세요!
			%span.update 
				%a{:href=>"/profile/update"} 업데이트
				
			
			
		%h1 지출
		%table
			%thead
				%tr
					%th
						구분
					%th
						날짜
					%th
						사용처
					%th
						금액
					%th
						잔액
			%tbody
				- @budget.each do |b|
					%tr
						%td= b.trans_type
						%td= b.trans_date
						%td= b.trans_store
						%td= b.trans_amount
						%td= b.trans_balance