%header.menu
	.menu-wrapper
		%ul
			%li
				%img{:src=>"/pengo-logo.svg", :width=>"130px"}
			%li.right.selected 
				%a{:href=>"/profile"}프로필
			%li.right
				%a{:href=>"/dashboard"} 개요
				
.dashboard
	.dashboard-wrapper
	
		%h1 내역
		%span
			%a{:href=>"/profile/update"} 업데이트
		
		%table
			%thead
				%tr
					%th
						구분
					%th
						날짜
					%th
						사용처
					%th
						금액
					%th
						잔액
			%tbody
				- @budget.each do |b|
					%tr
						%td= b.trans_type
						%td= b.trans_date
						%td= b.trans_store
						%td= b.trans_amount
						%td= b.trans_balance
		