%header.menu
	.menu-wrapper
		%ul
			%li
				%img{:src=>"/pengo-logo.svg", :width=>"130px"}
			%li.right.selected 
				%a{:href=>"/profile"}프로필
			%li.right
				%a{:href=>"/dashboard"} 개요
				
.dashboard
	.dashboard-wrapper
		%h1 계좌
		%ul.list
			%li 신한은행
			%li 국민은행
			%li 기업은행
			%li 
				%a{:href=>"/profile/update"} 계좌추가
		%h1 내역
		%a{:href=>"/profile/update"} 업데이트
		
		%table
			%thead
				%tr
					%th
						구분
					%th
						날짜
					%th
						사용처
					%th
						금액
					%th
						잔액
			%tbody
				- @budget.each do |b|
					%tr
						%td= b.trans_type
						%td= b.trans_date
						%td= b.trans_store
						%td= b.trans_amount
						%td= b.trans_balance
		